In [1]:
#this is my strings class in ineuron

In [73]:
d='lokesh'

In [74]:
b="i'm going to tack full sack course"

In [75]:
b[1:11:12]

"'"

In [76]:
for i in d:
    print(i)

l
o
k
e
s
h

In [77]:
for i in range(len(d)):
    print(i)

0
1
2
3
4
5

In [22]:
a[::-1]

'hsekol'

In [23]:
a[-1:-4:1]

''

In [35]:
b="i'm going to tack full stack course"
b[::2]

'imgigt akfl tc ore'

In [33]:
b.find("i")

0

In [31]:
b.format("sack")

"i'm going to tack full sack course"

In [32]:
b

"i'm going to tack full sack course"

In [7]:
s="my name is sudhanshu kumar , name of org is ineuron"

In [8]:
s.find("name")

3

In [9]:
s.index("n")

3

In [10]:
s.index("a")

4

In [11]:
c=s.find("name")
for i in range(len("name")):
    print(c+i)

3
4
5
6

In [12]:
s.count("name")

2

In [13]:
s.split()

['my',
 'name',
 'is',
 'sudhanshu',
 'kumar',
 ',',
 'name',
 'of',
 'org',
 'is',
 'ineuron']

In [14]:
type(s.split())

list

In [16]:
s.upper()

'MY NAME IS SUDHANSHU KUMAR , NAME OF ORG IS INEURON'

In [17]:
s

'my name is sudhanshu kumar , name of org is ineuron'

In [18]:
s.lower()

'my name is sudhanshu kumar , name of org is ineuron'

In [19]:
s.swapcase()

'MY NAME IS SUDHANSHU KUMAR , NAME OF ORG IS INEURON'

In [20]:
s.splitlines()

['my name is sudhanshu kumar , name of org is ineuron']

In [21]:
s.capitalize()

'My name is sudhanshu kumar , name of org is ineuron'

In [22]:
s.casefold()

'my name is sudhanshu kumar , name of org is ineuron'

In [32]:
" ".join(s)

'm y   n a m e   i s   s u d h a n s h u   k u m a r   ,   n a m e   o f   o r g   i s   i n e u r o n'

In [34]:
s.strip()

'my name is sudhanshu kumar , name of org is ineuron'

In [56]:
l=   "         l o k esh    "

In [57]:
l

'         l o k esh    '

In [58]:
l.strip()

'l o k esh'

In [59]:
l.rstrip()

'         l o k esh'

In [60]:
l.replace("h","H")

'         l o k esH    '

In [61]:
l

'         l o k esh    '

In [62]:
s.replace("name","self")

'my self is Lokesh , self of org is ineuron'

In [63]:
s=s.replace("sudhanshu kumar","Lokesh")

In [64]:
s

'my name is Lokesh , name of org is ineuron'

In [66]:
l.center(23,'c')

'c         l o k esh    '

In [67]:
a = "we all are a part of full stack"

In [68]:
a.lower()

'we all are a part of full stack'

In [89]:
a.count("a")

5

In [78]:
for i in range(len(a)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [79]:
a.replace("a","iNeuron")

'we iNeuronll iNeuronre iNeuron piNeuronrt of full stiNeuronck'

In [80]:
print(list((a)))

['w', 'e', ' ', 'a', 'l', 'l', ' ', 'a', 'r', 'e', ' ', 'a', ' ', 'p', 'a', 'r', 't', ' ', 'o', 'f', ' ', 'f', 'u', 'l', 'l', ' ', 's', 't', 'a', 'c', 'k']

In [93]:
a = "we all are a part of full stack"
print(a.lower())
print(a.count("a"))


for i in range(len("a")):
    print(i)
print(a.replace("a","iNeuron"))
print(list((a)))

we all are a part of full stack
5
0
we iNeuronll iNeuronre iNeuron piNeuronrt of full stiNeuronck
['w', 'e', ' ', 'a', 'l', 'l', ' ', 'a', 'r', 'e', ' ', 'a', ' ', 'p', 'a', 'r', 't', ' ', 'o', 'f', ' ', 'f', 'u', 'l', 'l', ' ', 's', 't', 'a', 'c', 'k']

In [82]:
a = "We are all part of Full Stack"

# 1. Normalizing entire string in lower case
print(a.lower())
# 2. Finding number of occurances of a in entire string
print(len([i for i in range(len(a)) if a[i] == 'a']))
# 3. Indexes where a is present 
print([i for i in range(len(a)) if a[i] == 'a'])  
# 4 . replace all a's with ineuron
print(a.replace('a','Ineuron'))
#5. print all the words as a list
print([i for i in a.split() ])

we are all part of full stack
4
[3, 7, 12, 26]
We Ineuronre Ineuronll pIneuronrt of Full StIneuronck
['We', 'are', 'all', 'part', 'of', 'Full', 'Stack']

In [150]:
name = "ineruon"
vowels = "AaEeIiOoUu"

for i in name :
    if i in vowels:
        print("{} is a vowel".format(i))
    else :
        print("{} is not a vowel".format(i))

i is a vowel
n is not a vowel
e is a vowel
r is not a vowel
u is a vowel
o is a vowel
n is not a vowel

In [160]:
s = "sudh"
r = len(s) +1
while r<= 4 :
    print(s[r])
    r = r+1

In [96]:
for i in range(1, len(s)) :
    print(s[-i])

h
d
u

In [97]:
count = 0 
for i in  s :
    count = count +1 
print(count)

4

In [99]:
o = input()
v = input()
t =(input(" "))


" {} name is {} my age is {} ".format(o,v,t)

my
lokesh
 21 years

' my name is lokesh my age is 21 years '

In [103]:
x=["loki",34,30,15,20,22]

In [104]:
type(x)

list

In [105]:
y=["lokknnh"]

In [106]:
x+y

['loki', 34, 30, 15, 20, 22, 'lokknnh']

In [107]:
6*y

['lokknnh', 'lokknnh', 'lokknnh', 'lokknnh', 'lokknnh', 'lokknnh']

In [108]:
len(y)

1

In [109]:
x[:-1]

['loki', 34, 30, 15, 20]

In [110]:
x[::1]

['loki', 34, 30, 15, 20, 22]

In [111]:
x[::-2]

[22, 15, 34]

In [112]:
x.index(22)

5

In [115]:
s.isalpha()

True

In [127]:
x.remove(55)

In [128]:
x

['loki', 34, 30, 15, 20, 22, 55]

In [132]:
"whbjhyhfbh25 266".replace("whbjhy","25")

'25hfbh25 266'

In [133]:
o and o

'my'

In [134]:
1 and 1

1

In [135]:
1 or 2

1

In [147]:
s = "my name is lokesh,and name of org is ineuron"
for i in range(len(s[5])):
    print(i)

0

In [140]:
name="my name is xyz, name is ineuron"

a=name.find("name")
b=a+len("name")
name.find("name",b)

16